# Project config
.env

dist
**/*.log
node_modules
vendor
/wp-content/uploads/
/wp-content/plugins/
wp-config.php

# Database
db-data

# IDE
.idea/
.vscode/

# Wordpress Themes Default
twentytwentyfour
twentytwentythree
twentytwentytwo